@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=VT323&display=swap');

:root{
    --fonte-primaria:'Caveat Brush', cursive;
}
:root{
    --cor-primaria:#202135;
    --cor-secundaria:#535886;
    --cor-terciaria:#959ddd;
    --cor-quartenaria:#d4d7ed;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
    color: aliceblue;
    background-image: url(assets/background_image.gif);
    background-size:auto;
    overflow-y: hidden;
    
}

header{
    display: flex;
    justify-content: center; 
    margin:2%;
    gap: 2%;
    
    
}

.modo__botao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 8rem;
    border-radius: 4rem;  
    border: solid;
    border: 0.5rem solid;
    border-color: white;
    background-image: url(assets/back.gif);

}

.modo__botao__1:hover{
    .texto__modo__botao__1{
        font-size: 4.2rem;
        transition: 100ms linear;
    }
}
.modo__botao__2:hover{
    
    .texto__modo__botao__2{
        font-size: 4.2rem;
        transition: 100ms linear;
    }    
}

.texto__modo__botao{
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--cor-secundaria);
    
}

p{
    font-size: 4rem;
    font-family: var(--fonte-primaria);
    color: white;

}

input[type="radio"]{
    display: none;
}

input[type="radio"]:checked + label{
    background-image: url(./assets/hover.gif);
    background-size: cover;

}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.main__texto{
    color: white;
    margin-top: 2%;
    font-size: 5rem;
    font-family: var(--fonte-primaria);
    display: flex;
    text-align: center;
}

.palavra__realce{
    color: var(--cor-secundaria);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    
}

.main__entrada{
    display: flex;
    justify-content: center;
    margin: 2%;
    align-items: center;
 
}

.main__entrada__texto{
    width: 40rem;
    height: 4rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    padding: 2%;
    font-family: var(--fonte-primaria);
    font-size: 3rem;
    text-align: center;
    text-transform: lowercase;
}

.main__funcao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 7rem;
    border-radius: 3rem;  
    border: solid;
    background-color: var(--cor-secundaria);
    border: 0.5rem solid;
    border-color: white; 
}

.main__funcao:hover{
    background-color: var(--cor-primaria);
    transition: 500ms;
}

.texto__função{
    font-size: 2.5rem;  
}

.main__saida{
    display: flex;
    justify-content: center;
    margin: 2%;
    margin-top: 5%;  
    
}

.main__saida__texto{
    width: 44rem;
    height: 8rem;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    padding: 2%;
    font-family: var(--fonte-primaria);
    font-size: 3rem;
    text-align: center;
    align-items: center;
    background-color: white;
    color: black;
    resize: none;

}

.main__copiar{
    width: 10rem;
    height: 5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-secundaria); 
    border: 0.5rem solid;
    border-color: white;
}

.main__copiar:hover{
    background-color: var(--cor-primaria);
    transition: 500ms;
}
.texto__copiar{
    font-size: 2.5rem;
}

.container-final{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 11rem;
    gap: 2rem;
}

@media (max-width: 1080px){
    .container-final{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-right: 12rem;
    }

    .container-final-copiar{
        padding-left: 2rem;
    }

    body{
        overflow-y:auto;
        overflow-x:hidden;
      
    }

}

@media (max-width: 900px){
    .modo__botao{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30rem;
        height: 8rem;
        border-radius: 4rem;  
        border: solid;
        border: 0.5rem solid;
        border-color: white;
        background-image: url(assets/back.gif);
    
    }

    p{
        font-size: 3rem;
        font-family: var(--fonte-primaria);
        color: white;
    
    }

    .modo__botao__1:hover{
        .texto__modo__botao__1{
            font-size: 3.5rem;
            transition: 100ms linear;
        }
    }
    .modo__botao__2:hover{
        
        .texto__modo__botao__2{
            font-size: 3.5rem;
            transition: 100ms linear;
        }    
    }

    .container-final{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 11rem;
        gap: 0.2rem;
    }
}

@media (max-width: 740px){

    .main__saida{
        display: flex;
        justify-content: center;
        margin: 1%;
        margin-top: 3%;  
        
    }
    
    .main__saida__texto{
        width: 35rem;
        height: 6rem;
        font-size: 3rem;

    }


    .main__entrada__texto{
        width: 33rem;
        height: 4rem;

    }

    .container-final{
        gap: 0.2rem;
    }
}

@media (max-width: 680px){
    .modo__botao{

        width: 20rem;
        height: 7rem;

    }

    .modo__botao__1:hover{
        .texto__modo__botao__1{
            font-size: 3rem;
            transition: 100ms linear;
        }
    }
    .modo__botao__2:hover{
        
        .texto__modo__botao__2{
            font-size: 3rem;
            transition: 100ms linear;
        }    
    }

    p{
        font-size: 2.7rem;
        font-family: var(--fonte-primaria);
        color: white;
    
    }
}

@media (max-width: 580px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        padding-left: 18%;
        gap: 2rem;
        
    }

    .main__saida__texto{
        width: 28rem;
        height: 6rem;
        font-size: 3rem;

    }


    .main__entrada__texto{
        width: 25rem;
        height: 4rem;

    }
}